extends layout

block content
  canvas(id='myChart', width='900', height='400')
  div(style='display:none', id='myChartData') #{data}
  br
  .ui.statistic(style='background-color: '+result.gas_color+'; border-radius: 100px; width:175px; height:175px; padding-top: 50px;')
    .value(id='gas_value') #{result.gas}
      small %
    .label CO concentration
  .ui.statistic(style='background-color: '+result.avg_gas_color+'; border-radius: 100px; width:175px; height:175px; padding-top: 50px;')
    .value(id='avg_gas_value') #{Math.round(result.avg_gas * 100) / 100}
      small %
    .label Avg CO concentration
  br
  script.
    var ctx = document.getElementById("myChart").getContext("2d");
    var options = { animationSteps: 15, scaleBeginAtZero: true };
    var data = JSON.parse($('#myChartData').text());
    var myLineChart = new Chart(ctx).Line(data, options);
    var last_update_time = data.timestamps.pop();

    var time_converter = function (UNIX_timestamp){
      var a = new Date(UNIX_timestamp*1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var year = a.getFullYear();
      var month = months[a.getMonth()];
      var date = a.getDate();
      var hour = a.getHours();
      var min = a.getMinutes();
      var sec = a.getSeconds();
      var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      return time;
    };

    var gas_color = function (value) {
      if (value < 0.12) {
        return '#FFE87C';
      } else if (value < 0.17) {
        return '#FFE5B4';
      } else {
        return '#EE9A4D';
      }
    };

    var pollServerForData = function () {
      $.getJSON('/gas/refresh', function (response) {
        if (response) {
          $('#gas_value').html(response.gas + '<small>%</small>');
          $('#gas_value').parent().css('background-color', gas_color(response.gas));
          $('#avg_gas_value').html(response.avg_gas + '<small>%</small>');
          $('#avg_gas_value').parent().css('background-color', gas_color(response.avg_gas));
          console.log(response.timestamp, last_update_time);
          if ((response.timestamp - last_update_time) > 60 * 60 * 2.5) {

            last_update_time = response.timestamp;
            console.log(last_update_time);
            myLineChart.addData([response.gas], time_converter(response.timestamp));
            // Remove the first point so we dont just add values forever
            myLineChart.removeData();
          }

        }
        setTimeout(pollServerForData, 1000);
      });
    };

    setTimeout(pollServerForData, 1000);