extends layout

block content
  canvas(id='myChart', width='900', height='400')
  div(style='display:none', id='myChartData') #{data}
  br
  .ui.statistic(style='background-color: '+result.pulse_color+'; border-radius: 100px; width:175px; height:175px; padding-top: 50px;')
    .value(id='pulse_value') #{Math.round(result.pulse)}
    .label BPM
      br
      | Pulse
  .ui.statistic(style='background-color: '+result.avg_pulse_color+'; border-radius: 100px; width:175px; height:175px; padding-top: 50px;')
    .value(id='avg_pulse_value') #{Math.round(result.avg_pulse)}
    .label BPM
      br
      | Average pulse
  br
  script.
    var ctx = document.getElementById("myChart").getContext("2d");
    var options = { animationSteps: 15, scaleBeginAtZero: true };
    var data = JSON.parse($('#myChartData').text());
    var myLineChart = new Chart(ctx).Line(data, options);
    var last_update_time = data.timestamps.pop();

    var time_converter = function (UNIX_timestamp){
      var a = new Date(UNIX_timestamp*1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var year = a.getFullYear();
      var month = months[a.getMonth()];
      var date = a.getDate();
      var hour = a.getHours();
      var min = a.getMinutes();
      var sec = a.getSeconds();
      var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      return time;
    };

    var pulse_color = function (value) {
      if (value < 60) {
        return 'lightpink';
      } else if (value < 100) {
        return 'pink';
      } else {
        return 'red';
      }
    };

    var pollServerForData = function () {
      $.getJSON('/pulse/refresh', function (response) {
        if (response) {
          $('#pulse_value').html(response.pulse);
          $('#pulse_value').parent().css('background-color', pulse_color(response.pulse));
          $('#avg_pulse_value').html(response.avg_pulse);
          $('#avg_pulse_value').parent().css('background-color', pulse_color(response.avg_pulse));

          if ((response.timestamp - last_update_time) > 60 * 60 * 2.5) {

            last_update_time = response.timestamp;
            console.log(last_update_time);
            myLineChart.addData([response.pulse], time_converter(response.timestamp));
            // Remove the first point so we dont just add values forever
            myLineChart.removeData();
          }

        }
        setTimeout(pollServerForData, 1000);
      });
    };

    setTimeout(pollServerForData, 1000);